<div>
    <div class="box">
        <h3>Seja bem-vindo!</h3>
        <fieldset>
            <legend>Login de usuário</legend>
            <form acaoLogin="ngForm">
                <mat-form-field class="example-full-width">
                    <mat-label>Login</mat-label>
                    <input matInput placeholder="Ex. adm" type="email" name="login" id="login" [(ngModel)]="login.email"
                        #email="ngModel" [ngModelOptions]="{standalone: true}" required>
                </mat-form-field>
    
                <mat-form-field class="example-full-width">
                    <mat-label>Senha</mat-label>
                    <input matInput placeholder="Ex. adm" type="password" name="senha" id="senha" [(ngModel)]="login.senha"
                        #senha="ngModel" [ngModelOptions]="{standalone: true}" required>
                </mat-form-field>
                <button mat-button type="button" (click)="entrar()">Entrar</button>
                <button mat-button type="button" (click)="sair()">Sair</button>
                <button mat-button type="button" (click)="recuperarSenha()">Recuperar senha</button>
            </form>
        </fieldset>
    </div>
</div>