.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
}

.box {
    display:flex;
    align-items:normal
}

.atividades, .disciplinas, .extras {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: 30px;
    width: auto;
}

.card {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    max-width: auto;
}

.card:hover {
    border: 2px solid rgb(69, 69, 184);
}

legend {
    font-weight: bold;
}


@media (max-width: 480px) {
    .atividades, .disciplinas, .extras {
        display: grid;
        grid-template-columns: 1fr;
    }

    .box {
        display: inline;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .atividades, .disciplinas, .extras {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .atividades, .disciplinas, .extras {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .atividades, .disciplinas, .extras {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}